/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #my_slider a.carousel-control-prev {
        position: absolute;
        left: 50px;
        top: 30%;
    }
    #my_slider a.carousel-control-next {
        position: absolute;
        right: 50px;
        top: 30%;
    }
    .sidenav {
        z-index: 9;
    }
    .header_section {
        background-size: 100% 100%;
    }
    .banner_taital {
        width: 40%;
    }
    .play_btn_main {
        padding: 168px 0px;
    }
    .seemore_text {
        font-size: 18px;
    }
    .blog_box_left {
        width: 50%;
    }
    .blog_box_right {
        width: 50%;
    }
    .good_text {
        padding-top: 0px;
    }
    .about_taital_main {
        width: 100%;
        padding-top: 0px;
    }
    .readmore_bt {
        margin-top: 37px;
    }
    .about_section {
        padding-bottom: 0px;
    }
    .contact_section {
        padding-bottom: 0px;
    }
    .client_section_2 {
        width: 56%;
    }
    .box_main {
        width: 70%;
    }
    .subscribe_bt a {
        padding: 11px 14px 10px 14px;
    }
    .copyright_text {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #my_slider a.carousel-control-prev {
        position: absolute;
        left: 50px;
        top: 30%;
    }
    #my_slider a.carousel-control-next {
        position: absolute;
        right: 50px;
        top: 30%;
    }
    .header_section {
        background-size: 100% 100%;
    }
    .banner_taital {
        width: 60%;
    }
    .play_btn_main {
        padding: 168px 0px;
    }
    .seemore_text {
        font-size: 18px;
    }
    .blog_box_left {
        width: 50%;
    }
    .blog_box_right {
        width: 50%;
    }
    .good_text {
        padding-top: 0px;
    }
    .lorem_text {
        width: 100%;
        font-size: 14px;
        padding-top: 10px;
    }
    .blog_img {
        padding-top: 11px;
    }
    .read_bt_1 a {
        margin-top: 0px;
    }
    .about_taital_main {
        width: 100%;
        padding-top: 0px;
    }
    .about_text {
        font-size: 14px;
        padding-top: 0;
    }
    .readmore_bt {
        margin-top: 20px;
    }
    .about_img {
        height: 352px;
    }
    .about_section {
        padding-bottom: 0px;
    }
    .contact_section {
        padding-bottom: 0px;
    }
    .client_section_2 {
        width: 70%;
    }
    .box_main {
        width: 70%;
    }
    .call_text {
        font-size: 14px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .copyright_text {
        width: 70%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #my_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #my_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .header_section {
        background-size: 100% 100%;
    }
    .header_section::after {
        display: none;
    }
    .navbar-light .navbar-brand {
        padding-left: 0px;
        z-index: 0;
    }
    .login_text {
        display: none;
    }
    .form-inline {
        display: none;
    }
    .navbar-brand {
        width: 20%;
        float: right;
        text-align: right;
        margin: 0px;
    }
    .banner_section {
        padding: 40px;
        z-index: 0;
    }
    .banner_taital {
        width: 100%;
        font-size: 40px;
    }
    .play_btn_main {
        padding: 0px;
    }
    .play_btn {
        padding: 110px 40px;
    }
    .gallery_taital {
        font-size: 30px;
    }
    .blog_box {
        display: block;
    }
    .blog_box_left {
        width: 100%;
    }
    .blog_box_right {
        width: 100%;
        padding-left: 0px;
    }
    .read_bt_1 {
        float: initial;
        padding-top: 30px;
    }
    .read_bt_1 a {
        float: initial;
    }
    .blog_section {
        padding-bottom: 0px;
    }
    .about_section .row {
        flex-direction: column-reverse;
    }
    .about_taital_main {
        width: 100%;
        padding-top: 0px;
    }
    .about_img {
        padding-top: 40px;
    }
    .about_section {
        padding-bottom: 0px;
    }
    .contact_taital {
        font-size: 30px;
    }
    .client_taital {
        font-size: 28px;
    }
    .client_section_2 {
        width: 95%;
        padding: 40px 10px 50px 10px;
    }
    .email_bt {
        width: 60%;
        height: 51px;
    }
    .box_main {
        width: 100%;
    }
    .location_main {
        text-align: left;
        display: block;
    }
    .subscribe_bt a {
        padding: 12px 14px 11px 14px;
    }
    .copyright_text {
        width: 100%;
    }
}

@media (max-width: 575px) {
    #my_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #my_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .header_section {
        background-size: 100% 100%;
    }
    .header_section::after {
        display: none;
    }
    .navbar-light .navbar-brand {
        padding-left: 0px;
        z-index: 0;
    }
    .login_text {
        display: none;
    }
    .form-inline {
        display: none;
    }
    .navbar-brand {
        width: 20%;
        float: right;
        text-align: right;
        margin: 0px;
    }
    .banner_section {
        padding: 40px;
        z-index: 0;
    }
    .banner_taital {
        width: 100%;
        font-size: 40px;
    }
    .play_btn_main {
        padding: 0px;
        background-size: cover;
    }
    .play_btn {
        padding: 132px 50px;
    }
    .gallery_taital {
        font-size: 30px;
    }
    .blog_box {
        display: block;
    }
    .blog_box_left {
        width: 100%;
    }
    .blog_box_right {
        width: 100%;
        padding-left: 0px;
    }
    .read_bt_1 {
        float: initial;
        padding-top: 30px;
    }
    .read_bt_1 a {
        float: initial;
    }
    .blog_section {
        padding-bottom: 0px;
    }
    .about_section .row {
        flex-direction: column-reverse;
    }
    .about_taital_main {
        width: 100%;
        padding-top: 0px;
    }
    .about_img {
        padding-top: 40px;
    }
    .about_section {
        padding-bottom: 0px;
    }
    .contact_taital {
        font-size: 30px;
    }
    .client_taital {
        font-size: 28px;
    }
    .client_section_2 {
        width: 95%;
        padding: 40px 10px 50px 10px;
    }
    .email_bt {
        width: 60%;
        height: 51px;
    }
    .subscribe_bt a {
        padding: 12px 14px 11px 14px;
    }
    .box_main {
        width: 100%;
    }
    .location_main {
        text-align: left;
        display: block;
    }
    .copyright_text {
        width: 100%;
    }
}